<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.AthleteMapper">


    <insert id="insert">
         insert into ATHLETES (NAME,IDNUM,SEX,AGE,AC_RECORD,TEAM_NO,NO) values (#{name} ,#{idNum} ,#{sex} ,#{age} ,#{ac_record} ,#{team_No} ,#{No})
    </insert>

    <insert id="insertNotGrade">
        insert into ATHLETES (NAME,IDNUM,SEX,AGE,TEAM_NO,NO) values (#{name} ,#{idNum} ,#{sex} ,#{age} ,#{team_No} ,#{No})
    </insert>
    <delete id="deleteByIdNum">
        DELETE FROM ATHLETES WHERE IDNUM = #{id}
    </delete>

    <select id="queryById" resultType="com.cms.pojo.Athlete">
         select * from ATHLETES WHERE IDNUM = #{idNum}
    </select>

    <select id="queryNameById" resultType="string">
        select name from ATHLETES WHERE IDNUM = #{idNum}
    </select>

    <select id="queryAthleteCount" resultType="int">
        select count(IDNUM) from ATHLETES
    </select>
    <select id="queryAll" resultType="com.cms.pojo.Athlete">
        SELECT * FROM ATHLETES
    </select>
    <select id="queryBoyCount" resultType="int">
        select count(IDNUM) from ATHLETES WHERE SEX='男'
    </select>

    <select id="queryGirlCount" resultType="int">
        select count(IDNUM) from ATHLETES WHERE SEX='女'
    </select>
</mapper>