<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.CoachMapper">

    <insert id="insert">
         insert into COACHES (NAME ,IDNUM, SEX, PHONENUM, TEAM_NO) VALUES (#{name},#{idNum},#{sex},#{phone},#{Team_No})
    </insert>

    <select id="queryById" resultType="com.cms.pojo.Coach">
        select * from COACHES WHERE IDNUM = #{idNum}
    </select>

    <select id="queryNameById" resultType="string">
        select name from COACHES WHERE IDNUM = #{idNum}
    </select>

</mapper>