<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.GameMapper">

    <resultMap id="GameResultMap" type="com.cms.pojo.Game">
        <!-- 用id属性来映射主键字段 -->
        <id column="ID"  property="gameId" />
        <!-- 用result属性来映射非主键字段 -->
        <result column="EVENT_ID"  property="eventId" />
        <result column="GROUP_AGE"  property="groupAge" />
        <result column="LV"  property="level" />
        <result column="RIDNUM"  property="rIdNum" />
    </resultMap>

    <insert id="insetGame">
        insert into GAMES (EVENT_ID,GROUP_AGE,LV,ID) values (#{eventId},#{groupAge},#{level},#{gameId})
    </insert>

    <update id="updateRId" parameterType="int">
        update GAMES
        <trim prefix="set" suffixOverrides=",">
        <if test="rIdNum!=null">RIDNUM=#{rIdNum},</if>
        </trim>
        where ID=#{gameId}
    </update>

    <select id="queryGameCount" resultType="int">
        select count(ID) from GAMES
    </select>

    <select id="queryIsExist" resultType="int">
        select ID from GAMES where EVENT_ID=#{eventId} AND GROUP_AGE=#{groupAge} AND LV=#{level}

    </select>
    <select id="queryAll" resultType="java.util.HashMap">
         SELECT
        g.ID as gameId,
        g.GROUP_AGE as gameAge,
        g.LV as gameLevel,
        e.NAME as eventName,
        g.RIDNUM as refereeNum
    from
        GAMES g
    INNER JOIN
        EVENTS e
            ON g.EVENT_ID=e.ID
    ORDER BY g.ID ASC
    </select>

    <select id="queryById" resultMap="GameResultMap">
        SELECT * FROM GAMES WHERE ID = #{gameId}
    </select>

    <select id="queryName" resultType="string">
        select name from events where events.id = #{eventId}
    </select>

    <select id="queryNameById" resultType="string">
        select name from events
        where events.id = (select event_id from games where games.id = #{gid})
    </select>

    <select id="getGamesList"  resultMap="GameResultMap" resultType="com.cms.pojo.Game">
       select * from GAMES
    </select>
    
    <select id="getSpecialGamesList" parameterType="java.lang.String" resultType="java.util.HashMap">
    select  g.ID as gameId,
            g.GROUP_AGE as gameAge,
            g.LV as gameLevel,
            e.NAME as eventName,
            g.RIDNUM as refereeNum
           from PARTICIPATION p,ATHLETES a,TEAMS t,GAMES g
           INNER JOIN
            EVENTS e
            ON g.EVENT_ID=e.ID
     where p.Athlete_No=a.no and p.game_id= g.id and a.team_no=t.tno and t.account=#{0}
     ORDER BY g.ID ASC

    </select>


</mapper>