<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.LeaderMapper">

    <insert id="insert">
         insert into LEADERS (NAME ,IDNUM, PHONENUM, TEAM_NO) VALUES (#{name},#{idNum},#{phone},#{Team_No})
    </insert>

    <select id="queryById" resultType="com.cms.pojo.Leader">
        select * from LEADERS WHERE IDNUM = #{idNum}
    </select>

    <select id="queryNameById" resultType="string">
        select name from LEADERS WHERE IDNUM = #{idNum}
    </select>

</mapper>