<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.TeamMapper">

    <insert id="insert">
    INSERT INTO TEAMS (TNO, NAME, ACCOUNT,PASSWORD) VALUES (#{tNo},#{name},#{account},#{password})
    </insert>

    <select id="queryPassword" resultType="string">
        select PASSWORD from TEAMS WHERE ACCOUNT = #{s}
    </select>

    <select id="queryIdByAccount" resultType="int">
        select TNO from TEAMS where ACCOUNT = #{s}
    </select>
    <select id="queryAll" resultType="com.cms.pojo.Team">
        SELECT * FROM  TEAMS ORDER BY TNO asc
    </select>
    <select id="queryById" resultType="com.cms.pojo.Team">
        SELECT * FROM  TEAMS WHERE TNO = #{tno}
    </select>
    <select id="queryByAccount" resultType="com.cms.pojo.Team">
        SELECT * FROM TEAMS WHERE ACCOUNT = #{account}
    </select>
    <select id="queryByMyId" resultType="com.cms.pojo.Team">
        SELECT * FROM TEAMS WHERE TNO = #{tno}
    </select>
    <select id="queryByName" resultType="com.cms.pojo.Team">
        SELECT *FROM  TEAMS WHERE NAME LIKE concat(concat('%',#{name}),'%')
    </select>

    <update id="insertAttachment">
        update TEAMS set ATTACHMENT = #{attachment}
        where TNO=#{tNo}
    </update>

    <update id="updatePassword" parameterType="com.cms.pojo.Team">
        update TEAMS set PASSWORD = #{password}
        where TNO=#{tNo}
    </update>
    <update id="updateNameAndPassword">
        UPDATE TEAMS SET
        NAME =#{name},
        PASSWORD = #{password}
        WHERE TNO=#{tNo}
    </update>
    <delete id="deleteByTNo">
      DELETE FROM TEAMS WHERE TNO = #{tNo}
    </delete>

</mapper>