<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.mapper.TeamMapper">


    <select id="queryPassword" resultType="string">
        select PASSWORD from TEAMS WHERE ACCOUNT = #{s}
    </select>

    <select id="queryIdByAccount" resultType="int">
        select TNO from TEAMS where ACCOUNT = #{s}
    </select>
    <select id="queryAll" resultType="com.cms.pojo.Team">
        SELECT * FROM  TEAMS
    </select>

</mapper>