#navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #2aabd2;
}
#information_entering{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    font-size: 20px;
    text-align: center;
    font-family: STHupo;
    background-color: #a94442;
}
#enteringPage{
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    background-color: #9acfea;
}

/*选择*/
#submit_choose{
    position: absolute;
    left: 41%;
    top: 10%;
    width: 15%;
    height: 6%;
    font-size: 20px;
    text-align: center;
    font-family: STHupo;
    z-index: 3;
}

/*录入信息界面*/
.information{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}
.attachment{
    position: absolute;
    top: 60%;
    left: 70%;
    width: 8%;
    height: 4%;
    text-align: center;
    background-color: #a5cfd2;
}
/*领队和队医*/
#leader_doctor_refereePage{
    display: block;
}
.s_name{
    position: absolute;
    top: 26%;
    left: 12.5%;
    width: 4%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.input_name{
    position: absolute;
    top: 26.5%;
    left: 18.5%;
    width: 10%;
}
.ID{
    position: absolute;
    top: 26%;
    left: 33%;
    width: 6%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.input_ID{
    position: absolute;
    top: 26.5%;
    left: 41%;
    width: 15%;
}
.phone{
    position: absolute;
    top: 26%;
    left: 59.5%;
    width: 4%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.input_phone{
    position: absolute;
    top: 26.5%;
    left: 65.5%;
    width: 15%;
}
.submit_button{
    position: absolute;
    bottom: 5%;
    left: 42%;
    width: 8%;
    height: 8%;
    text-align: center;
    background-color: #2aabd2;
}

/*运动员*/
#athletePage{
    display: none;
}
.age{
    position: absolute;
    top: 26%;
    left: 59.5%;
    width: 4%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.input_age{
    position: absolute;
    top: 26.5%;
    left: 65.5%;
    width: 15%;
}
.sex{
    position: absolute;
    top: 36%;
    left: 12.5%;
    width: 4%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.select_sex{
    position: absolute;
    top: 36.5%;
    left: 18.5%;
    width: 10%;
    height: 4%;
    font-size: 20px;
    text-align: center;
    font-family: STXingkai;
}
.group{
    position: absolute;
    top: 36%;
    left: 33%;
    width: 4%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
#select_group{
    position: absolute;
    top: 36.5%;
    left: 41%;
    width: 10%;
    height: 4%;
    font-size: 20px;
    text-align: center;
    font-family: STXingkai;
}
.culGrade{
    position: absolute;
    top: 36%;
    left: 59.5%;
    width: 8%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
.input_culGrade{
    position: absolute;
    top: 36.5%;
    left: 69.5%;
    width: 8%;
}
.event{
    position: absolute;
    top: 46.5%;
    left: 12.5%;
    width: 8%;
    text-align: center;
    font-size: 25px;
    font-family: STXingkai;
}
#male_event{
    position: absolute;
    top: 46%;
    left: 20.5%;
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family: STXingkai;
    display: block;
}
#female_event{
    position: absolute;
    top: 46%;
    left: 20.5%;
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family: STXingkai;
    display: none;
}

/*教练界面*/
#coachPage{
    display: none;
}