<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/com/cms/mapper/RefereeSeviceMapper.xml,/com/cms/mapper/GroupMapper.xml</param-value>
    </context-param>
    <servlet>
    <!--别名-->
    <servlet-name>addServlet</servlet-name>
    <!--servlet所在的类-->
    <servlet-class>com.cms.controller.AddServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <!--别名-->
        <servlet-name>addServlet</servlet-name>
        <!--资源名-->
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.cms.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <!--别名-->
        <servlet-name>login</servlet-name>
        <!--资源名-->
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.cms.controller.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
</web-app>